@{
    ViewData["Title"] = "لینک تأیید ایمیل ارسال شد";
}

<h1 class="title is-1">لینک تأیید ایمیل ارسال شد</h1>
<h3 class="title is-3">اگر ایمیلی با مشخصات وارد شده در سایت وجود داشته باشد، لینک تأیید ایمیل ارسال می شود.</h3>