@{
    ViewData["Title"] = "ثبت نام موفق";
}

<h3 class="title is-3 is-success">
    ثبت نام با موفقیت انجام شد!
</h3>
<h5 class="title is-5">
    قبل از ورود، لطفاً ثبت نام خود را توسط ایمیلی که ما به شما فرستاده ایم، تأیید کنید.
</h5>
<a class="button is-info" asp-controller="Account"
   asp-action="ResendConfirmationEmail">ارسال دوباره تأیید ایمیل</a>