@model AdvertisementAddRequest

<div class="tabs is-centered">
    <ul>
        <li><a asp-action="AddCategories" asp-controller="Home">ایجاد دسته بندی شغلی</a></li>
        <li><a asp-action="EditCategories" asp-controller="Home">ویرایش دسته بندی شغلی</a></li>
        <li class="is-active"><a asp-action="AddAdvertisement" asp-controller="Home">ایجاد آگهی استخدام</a></li>
        <li><a asp-action="AllAdvertisements" asp-controller="Home">مشاهده آگهی های ایجاد شده</a></li>
    </ul>
</div>