@{
    ViewBag.Title = "انتخاب ثبت نام";
}

<center>
    <div class="fixed-grid has-4-cols">
        <div class="grid">
            <div class="cell"></div>
            <a asp-controller="Account" asp-action="CompanyRegister" class="button is-link">ثبت نام شرکت / مؤسسه</a>
            <a asp-controller="Account" asp-action="AdminRegister" class="button is-link">ثبت نام مدیر</a>
            <div class="cell"></div>
        </div>
    </div>
</center>
