@model CompanyEditDTO
@{
    ViewBag.Title = "ویرایش اطلاعات شرکت";
}

<h1 class="title is-4">ویرایش اطلاعات شرکت / مؤسسه</h1>
<form class="box" asp-controller="Account" asp-action="CompanyRegister" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="UserId" />

    @*Company Name*@
    <div class="field">
        <label class="label" asp-for="CompanyName">نام شرکت / مؤسسه</label>
        <div class="control">
            <input class="input" asp-for="CompanyName" />
            <span asp-validation-for="CompanyName" class="is-danger" style="color: red"></span>
        </div>
    </div>


    @*Company Email*@
    <div class="field">
        <label class="label" asp-for="CompanyEmail">نشانی ایمیل شرکت / مؤسسه</label>
        <div class="control">
            <input class="input" asp-for="CompanyEmail" />
            <span asp-validation-for="CompanyEmail" class="is-danger" style="color: red"></span>
        </div>
    </div>

    @*Company Phone*@
    <div class="field">
        <label class="label" asp-for="CompanyPhone">شماره تلفن شرکت / مؤسسه</label>
        <div class="control">
            <input class="input" asp-for="CompanyPhone" type="tel" />
            <span asp-validation-for="CompanyPhone" class="is-danger" style="color: red"></span>
        </div>
    </div>

    @*Company Avatar*@
    <div class="field">
       
        <div class="control">
            <div class="file">
                <label class="file-label">
                    <input class="file-input" type="file" name="avatar" />
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label"> آپلود آواتار </span>
                    </span>
                </label>
            </div>
           
        </div>
    </div>

    @*Company Address*@
    <div class="field">
        <label class="label" asp-for="CompanyAddress">نشانی شرکت / مؤسسه</label>
        <div class="control">
            <textarea class="textarea" placeholder="آدرس شرکت ..." asp-for="CompanyAddress"></textarea>
            <span asp-validation-for="CompanyAddress" class="is-danger" style="color: red"></span>
        </div>
    </div>
    

    @*Company Explanation*@
    <div class="field">
        <label class="label" asp-for="CompanyDescription">معرفی شرکت</label>
        <div class="control">
            <textarea class="textarea" placeholder="درباره مؤسسه یا شرکتتان مطالبی بنویسید ..." asp-for="CompanyDescription"></textarea>
            <span asp-validation-for="CompanyDescription" class="is-danger" style="color: red"></span>
        </div>
    </div>

    @*Register Button*@
    <div class="field">
        <div class="control">
            <button class="button is-warning" type="submit">ثبت ویرایش</button>

            <div asp-validation-summary="All" style="color: red" class="is-danger"></div>


        </div>
    </div>
</form>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}
