@model ForgotPasswordDTO
@{
    ViewBag.Title = "بازنشانی رمز عبور";
}

<h1 class="title is-1">بازنشانی رمز عبور</h1>
<form class="box" asp-action="ForgotPassword" asp-controller="Account" method="post">
    @*Email*@
    <div class="field">
        <label class="label" asp-for="Email">نشانی ایمیل</label>
        <div class="control">
            <input class="input" asp-for="Email" placeholder="ایمیل خود را وارد کنید ..." required />
            <span asp-validation-for="Email" class="is-danger" style="color: red"></span>
        </div>
    </div>

    @*Button*@
    <div class="field">
        <div class="control">
            <button class="button is-link" type="submit">بازنشانی رمز عبور</button>

        </div>
    </div>
</form>
