@{
    ViewBag.Title = "نتیجه بازنشانی رمز عبور";
}

<h1 class="title is-1">نتیجه بازنشانی رمز عبور</h1>
<p>اگر شما حسابی با ایمیل وارد شده داشته باشید، لینک بازنشانی رمز عبور به ایمیل شما ارسال می شود.</p>