@{
    ViewBag.Title = "تأیید بازنشانی رمز عبور";
}
<h4 class="title is-4">رمز عبور شما با موفقیت تغییر یافت. برای ورود، روی <a asp-action="Login" asp-asp-controller="Account">این لینک کلید کنید.</a></h4>
