@model ResetPasswordDTO
@{
    ViewBag.Title = "صفحه نهایی بازنشانی رمز";
}

<h1 class="title is-1">صفحه نهایی بازنشانی رمز</h1>
<form class="box" asp-action="ResetPassword" asp-controller="Account" method="post">
    
            <input asp-for="Email"  type="hidden"/>
            <input asp-for="Token" type="hidden" />
       

    @*Password*@
    <div class="field">
        <label class="label" asp-for="Password">رمز جدید</label>
        <div class="control">
            <input class="input" asp-for="Password" placeholder="رمز جدید حسابتان را وارد کنید ..." required />
            <span asp-validation-for="Password" class="is-danger" style="color: red"></span>
        </div>
    </div>

    @*Confirm Password*@
    <div class="field">
        <label class="label" asp-for="ConfirmPassword">تکرار رمز جدید</label>
        <div class="control">
            <input class="input" asp-for="ConfirmPassword" placeholder="تکرار رمز جدید حسابتان را وارد کنید ..." required />
            <span asp-validation-for="ConfirmPassword" class="is-danger" style="color: red"></span>
        </div>
    </div>

    @*Button*@
    <div class="field">
        <div class="control">
            <button class="button is-link" type="submit">تغییر رمز</button>

            <div asp-validation-summary="All" class="is-danger" style="color: red"></div>
        </div>
    </div>
</form>